body {
    background-color: hsl(223, 19%, 93%);
}

.comment {
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    max-width: 45%;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
    display: flex;
    align-items: flex-start;
}

.rest-comment {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.comment-info-line {
    display: flex;
    justify-content: space-between;
}

.post-info {
    display: flex;
}

.post-info-item {
    margin-left: 10px;
    margin-right: 10px;
}

#new-post {
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    max-width: 45%;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
}

.reply {
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    max-width: 25%;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
    display: flex;
    align-items: flex-start;
} 

.vote-button {
    text-align: center;
    border-style: hidden;
    border-radius: 10px;
    max-width: 16px;
    background-color: hsl(223, 19%, 93%);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.timestamp {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
}

.vote-count {
    color: hsl(238, 40%, 52%)
}

.user-color {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.plus-button:hover {
    background-color: hsl(238, 40%, 52%);
    padding: 20%;
}

.minus-button:hover {
    background-color: hsl(238, 40%, 52%);
    padding: 40% 20% 40% 20%;
}

.reply-button:hover {
    color:hsl(238, 40%, 52%);
    font-weight: 500; 
}

.reply-button2:hover {
    color:hsl(238, 40%, 52%);
    font-weight: 500; 
}

.avatar-img {
    width: 45px;
    height:45px;
    margin-left: 0px;
}

/* .comment-text {
    position: relative;
    bottom: 75px;
} */

/* .reply-button {
    position: relative;
    left: 550px;
    z-index: 2;
} */

.edit-button:hover {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.delete-button:hover {
    color: hsl(358, 79%, 66%);
    font-weight: 500;
}
/* 
.edit-button {
    position: relative;
    left: 410px;
    top: 50px;
    z-index: 3;
}

.delete-button {
    position: relative;
    left: 320px;
    top: 85px;
    z-index: 2;
} */

#form-input {
    width: 75%;
    height: 90%;

}

/* .new-post-img {
    position: relative;
    right: 60px;
    top: 20px;
} */
.reply {
    max-width: 35%;
    max-height: fit-content;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
}

#you {
    background-color:hsl(238, 40%, 52%);
    color: white;
    padding: 8px;
    font-weight: 500;
    border-style: hidden;
    border-radius: 10px;
    position: relative;
    top: -10px;
}

#new-post {
    display: flex;
    justify-content: space-between;
}

#send-button {
    background-color:hsl(238, 40%, 52%);
    color: white;
    border-style: hidden;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    height: 40px;
}

#send-button:hover {
    background-color: green;
}

#form-input {
    width: 100px;
    height: 75px;
    border-color: hsl(211, 10%, 45%);
    border-radius: 10px;
}