body {
    background-color: hsl(223, 19%, 93%);
}

.comment {
    max-width: 65%;
    max-height:min-content;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.reply {
    max-width: 50%;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.vote-button {
    text-align: center;
    border-style: hidden;
    border-radius: 10px;
    max-width: 16px;
    background-color: hsl(223, 19%, 93%);
    padding: 10px;
}

.user {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.timestamp {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
}

.vote-count {
    color: hsl(238, 40%, 52%)
}

.user-color {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}